.importForm {
  display: flex;
  flex-flow: column;
  float: left;
  position: absolute;
  background-color: grey;
  margin: 10px;
  padding: 10px;
}

.importInterFoodContainer {
  display: flex;
  margin-left: auto;
  width: 100px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sendImportInterFood,
.importInterFood {
  margin: 5px;
  padding: 7px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(47, 139, 47);
  color: whitesmoke;
}

.closeImportInterFood {
  margin-left: auto;
}