.header {
  display: flex;
}

.item {
  /* flex-basis: 100%; */
  /* flex-grow: 1; */
  /* text-align: center; */
  /* border: 1px solid black; */
  flex: 1; /* additionally, equal width */

  /* padding: 1em; */
  /* border: solid; */
}

.dataTable{
  /* flex-grow: 3; */
  flex: 2.5;
}

/* .MuiDataGrid-root .MuiDataGrid-cell {
  text-overflow: initial;
     overflow-x: auto;
} */