* {
  box-sizing: border-box
}


.tableContent {
  display: flex;
  width: 100%;
}

.todayContainer {
  display: flex;
  position: relative;
  flex-flow: column;
}

.information {
  padding: 50px;
  display: flex;
}

/* .chInformation {
  display: flex;
}

.chInformation>div {
  flex: 1
} */

.information>* {
  border: 0.5px solid
}

.centerColumn {
  display: flex;
  flex-flow: column;
}

.spacer {
  margin: 5px;
  flex: 1
}

.dateChanger {
  margin: 5px;
  display: flex;
}

.dateChanger>*>button {
  height: 100%;
  background-color: white;
}

.chDiaryMain {
  width: 500px;
  margin: 0 auto;
  flex: 2;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.columnLeft {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  border: 0.5px solid
}

.columnRight {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 8;
  border: 0.5px solid
}

.emptyRowFiller {
  margin: 0;
  padding: 0;
}