/* chDiaryTable.com */


.tableContent {
  display: flex;
  width: 100%;
}

.todayContainer {
  display: flex;
  position: relative;
  flex-flow: column;
}

.information {
  padding: 50px;
  display: flex;
}

.information>* {
  border: 0.5px solid
}

.importInterFoodContainer {
  display: flex;
}

.importInterFood {
  margin: 5px;
  padding: 7px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(47, 139, 47);
  color: whitesmoke;
}

.spacer {
  margin: 5px;
  flex: 1
}

.food {
  background-color: blue;
  color: white;
  height: 100%;
}

.follower p {
  padding: 0;
  margin: 0;
  /* display: inline; */
}

.follower {
  float: left;
  position: absolute;
  background-color: grey;
  margin: 10px;
  padding: 10px;
}

.importForm {
  display: flex;
  flex-flow: column;
  float: left;
  position: absolute;
  background-color: grey;
  margin: 10px;
  padding: 10px;
}

.closeImportInterFood {
  /* width: 15%; */
  margin-left: auto;
}

.popup {
  /* height: 1000px; */
  width: 500px;
  margin: 0 auto;
  flex: 2;
  /* overflow: scroll;
  height: 800px; */
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.columnLeft {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  border: 0.5px solid
}

.columnRight {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 8;
  border: 0.5px solid
}

.emptyRowFiller {
  margin: 0;
  padding: 0;
}

/* .blue-column {
  background-color: blue;
  height: 100px;
  flex: 2
}
.green-column {
  background-color: green;
  height: 100px;
  flex: 4
} */