* {
  box-sizing: border-box
}

@mixin mobile() {
  @media only screen and (max-width: 1024px) {
    @content
  }
}

.tableContent {
  display: flex;
  width: 100%;
}

.todayContainer {
  display: flex;
  position: relative;
  flex-flow: column;

  div {
    // border: 0.5px solid;
  }

  .information {
    display: flex;
    padding-bottom: 50px;
    padding-left: 400px;
    padding-right: 400px;
    justify-content: center;

    @include mobile {
      padding-left: 0;
      padding-right: 0;
    }

    .centerColumn {
      display: flex;
      flex-flow: column;
      padding-left: 400px;
      padding-right: 400px;
      align-items: center;

      @include mobile {
        padding-left: 0;
        padding-right: 0;
        width: 80%;
      }

      .dateChanger {
        display: flex;
        margin: 5px;
        width: 300px;
        justify-content: space-between;
        // align-items: center;

        @include mobile {
          width: 80%;
        }

        div {
          flex: 1;
          height: 100%;
          width: 100%;
          background-color: white;
        }

        button {
          height: 100%;
          min-width: 80px;
          @include mobile {
            min-width: 80%;
          }
          background-color: white;
        }
      }

      .chInformation {

        .sumCh,
        .leftCh {
          font-size: 30px;
        }
      }

    }
  }

  // .information>* {
  //   border: 0.5px solid;
  // }

  .chDiaryTable {
    padding-left: 400px;
    padding-right: 400px;

    @include mobile {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .spacer {
    margin: 5px;
    flex: 1
  }

  .chDiaryMain {
    width: 500px;
    margin: 0 auto;
    flex: 2;
  }

  .emptyRowFiller {
    margin: 0;
    padding: 0;
  }
}