.chDiaryTableRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  .columnLeft {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    border: 0.5px solid
  }

  .columnRight {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 8;
    border: 0.5px solid
  }
}